.accordion {
  margin: 1rem 0;

  details {
    margin: 1rem 0;

    summary {
      background: #fff;
      font-family: var(--header-font);
      text-transform: uppercase;
      font-weight: bold;
      color: var(--header-color);
      padding: 1rem 1.5rem;
      list-style: none;
      display: flex;
      cursor: pointer;

      &::-webkit-details-marker { display: none; }

      &::after {
        content: '+';
        margin-left: auto;
        font-family: 'Courier New', Courier, monospace;
      }
    }

    &[open] summary {
      background: var(--color-primary);
      color: #fff;

      &::after { content: '-'; }
    }
  }
}
