img { max-width: 100%; }

img.cover,
figure.cover,
figure.cover img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;

  &--partial { width: var(--width, 50%); }

  &.contain img { object-fit: contain; }
}

figure.cover figcaption {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff5;
  font-size: 0.5rem;
  padding: 0.5em 1em;
}

.duotone {
  background-color: var(--color-primary);

  img {
    filter:
      grayscale(1)
      contrast(var(--contrast, 1))
      brightness(var(--brightness, 1));
    mix-blend-mode: var(--blending, multiply);
    opacity: var(--opacity, 0.75);
  }
}

.logo {
  max-height: 3rem;
  max-width: 8rem;
  vertical-align: middle;
  object-fit: contain;

  &--small {
    max-height: 2rem;
    max-width: 7rem;
  }

  &--big {
    max-height: 4rem;
    max-width: 12rem;
  }

  a > & { filter: brightness(0) opacity(0.25); }
  a:hover > & { filter: none; }
}

.video {
  height: 33rem;
  margin: 5rem 0;

  .toggler {
    font-weight: bold;
    text-align: center;
    background: #fff;
    color: var(--color-secondary);
    height: 6rem;
    width: 6rem;
    line-height: 6;
    border-radius: 50%;
    text-transform: uppercase;
    z-index: 10;

    &:hover { box-shadow: 0 0 0 1rem #fff8; }
  }
}
