nav {
  position: fixed;
  top: 0;
  width: 100vw;
  border-bottom: 1px solid #fff3;
  z-index: 2;
  background: #fff;
  box-shadow: 0 4px 16px 0 var(--color-primary--transparent);
  color: var(--color-primary);
  transition:
    background 0.5s ease,
    color 0.5s ease;

  &[data-top="true"] {
    background: none;
    color: #fff;

    .logo * { fill: #fff; }
  }

  .container {
    display: flex;
    align-items: center;
  }

  .main-nav {
    display: inline-flex;
    text-align: center;
    margin-left: auto;
    padding: 2rem 0;

    a {
      display: block;
      font-family: var(--header-font);
      font-weight: bold;
      color: inherit;
      letter-spacing: 2px;
      padding: 0 1rem;
      text-decoration: none;
      text-transform: uppercase;

      &:hover { color: var(--color-secondary); }
    }
  }

  .locales-nav {
    @extend .main-nav;

    margin-left: 2rem;

    a {
      font-weight: 300;
      padding: 0 0.75rem;

      &.active { font-weight: 700; }
    }

    li + li a { border-left: 1px solid currentColor; }
  }
}

.scroller {
  position: fixed;
  display: block;
  font-size: 1.5rem;
  bottom: 0;
  right: 0;
  z-index: 2;
  padding: 0.75rem 1.25rem;
  margin: 1rem;
}
